<%-include('partials/sheetHeader') -%>
</head>
<body>
<div class="wrapper" style="text-align:center">
<h2><%= dataArray[0].titleInfo %> | <%= dataArray[0].classInfo %> | <%= dataArray[0].date%> | <%= dataArray[0].theTime %></h2>

<input style="text-align:center" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the Roll No." title="Type in a Roll No.">

<table id="myTable">
  <tr class="header">
    <th style="width:20%; text-align:center" >Roll No.</th>
    <th style="width:60%; text-align:center">Attendance</th>
    <th style="width:20%; text-align:center" >Mark Attendance</th>
  </tr>

  <% for (let i = 0; i < dataArray.length; i++) {%>
<form class="row" action="/change" method="post">
  <tr>
    <td style="width:20%; text-align:center" > <%= dataArray[i].RollNo %> </td>
	<td style="width:60%; text-align:center"> <%= dataArray[i].Attendance %>  <img src="<%= dataArray[i].url %> " alt=""> </td>
	<td style="width:20%; text-align:center" ><input type="checkbox" value=<%= dataArray[i].RollNo %> onChange="this.form.submit()" name="checkbox"></td>
  </tr>
</form>
  <%}%>

</table>
<form class="item" action="/submitrecord" method="post">
	<button class="button button4" type="submit">Submit and Save</button>
</form>
</div>

<%-include('partials/sheetFooter') -%>